body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Montserrat', sans-serif;
}

/*Changing the look of the horizontal line.*/

hr {
  max-width: 64px;
  border-width: 5px;
  border-color: #FFBD63;
}

/*Setting up the background image.*/

header.startup {
  background-position: center;
  background-image: url("Free-Space.jpg");
  background-size: cover;
  height: 100%;
}

header.startup h1 {
  color: rgba(225,225,225,0.6);
}

/*Creating the separation between the h1 and the btn.*/

header.startup hr {
  margin-top: 300px;
  margin-bottom: 30px;
}

header.startup h1 {
  font-size: 2rem;
}

/*Look of the button*/

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 200px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #FFAB38;
  border-color: #FFAB38;  
}

.btn-primary:hover {
  background-color: #D57B00;
  border-color: #D57B00;
  cursor: pointer;
  border-width: 5px;
}


